<div class="p-grid">

  <div class="p-col-3 p-d-flex p-ai-center">
    Magnitude:
  </div>

  <div class="p-col-9">
    <p-inputNumber [(ngModel)]="shownMagnitudeDownTo"
                  [showButtons]="true"
                  [min]="2"
                  [max]="6"
                  [step]="0.5"
                  [useGrouping]="false"
                  [maxFractionDigits]="1"
                  size="3"
                  buttonLayout="horizontal"
                  spinnerMode="horizontal"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  title="Showing stars of magnitude down to: {{ shownMagnitudeDownTo }}"></p-inputNumber>
  </div>

</div>
