
<div class="p-grid">

  <div class="p-col-3 p-d-flex p-ai-center">
    FOV step:
  </div>

  <div class="p-col-4">
    <p-inputNumber [(ngModel)]="selectedStep"
                  [showButtons]="true"
                  [min]="1"
                  [max]="90"
                  [step]="5"
                  [useGrouping]="false"
                  [maxFractionDigits]="0"
                  size="3"
                  suffix="°"
                  buttonLayout="horizontal"
                  spinnerMode="horizontal"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  title="Field of view and buttons navigation step, in degrees"></p-inputNumber>
  </div>

  <div class="p-col-2">
    <button pButton
                type="button"
                icon="pi pi-eye"
                class="p-button-rounded p-button-outlined"
                (click)="changeFov()"
                title="Change FOV"></button>
  </div>

</div>

<div class="p-grid p-mt-4 p-mb-4">

  <div class="p-col-9">
    <div class="p-grid">
      <div class="p-offset-3 p-col-3">
        <button pButton
                type="button"
                icon="pi pi-chevron-left"
                class="p-button-rounded p-button-outlined"
                (click)="stepCounterClockwise()"
                title="Rotate counter-clockwise"></button>
      </div>
      <div class="p-col-3">
        <button pButton
                type="button"
                icon="pi pi-arrow-up"
                class="p-button-rounded p-button-outlined"
                (click)="stepUp()"
                title="Move upwards"></button>
      </div>
      <div class="p-col-3">
        <button pButton
                type="button"
                icon="pi pi-chevron-right"
                class="p-button-rounded p-button-outlined"
                (click)="stepClockwise()"
                title="Rotate clockwise"></button>
      </div>

      <div class="p-offset-3 p-col-3">
        <button pButton
                type="button"
                icon="pi pi-arrow-left"
                class="p-button-rounded p-button-outlined"
                (click)="stepLeft()"
                title="Move leftwards"></button>
      </div>
      <div class="p-col-3">
        <button pButton
                type="button"
                icon="pi pi-arrow-down"
                class="p-button-rounded p-button-outlined"
                (click)="stepDown()"
                title="Move downwards"></button>
      </div>
      <div class="p-col-3">
        <button pButton
                type="button"
                icon="pi pi-arrow-right"
                class="p-button-rounded p-button-outlined"
                (click)="stepRight()"
                title="Move rightwards"></button>
      </div>
    </div>
  </div>

  <div class="p-col-3 p-d-flex p-ai-center">
    <button pButton
            type="button"
            icon="pi pi-compass"
            class="p-button-rounded p-button-outlined"
            (click)="alignNSAxis()"
            title="Align the view on the North-Sourth axis"></button>
  </div>

</div>

