<div class="p-mb-2">
  <p-checkbox [(ngModel)]="isShown"
              [label]="layer.label"
              [binary]="true"
              title="{{ layer.description }}"></p-checkbox>

  <span *ngIf="hasCustomUiControls; else showSubLayers" [hidden]="!isShown" class="p-ml-4">
    <ac-custom-controls [layer]="layer" [customComponentType]="controlsComponentType"></ac-custom-controls>
  </span>

  <ng-template #showSubLayers>
    <ac-controls-select-layer *ngFor="let subLayer of subLayers"
        [layer]="subLayer"></ac-controls-select-layer>
  </ng-template>

</div>
