canvas { width: 100%; height: 100% }

#astrocadre-viewport {
  border: 1px solid black;
  margin: auto auto;
  text-align:center;
  position: relative;
}

#astrocadre-viewport canvas {
  position: absolute;
}
