<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>data-import: %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="warn" />
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
