<div class="ui-controls-section">
  <table>
    <tbody>
      <tr>
        <td>
          <!-- down-left arrow -->
          <input type="image"
                 alt="&#8601;"
                 src="{{ getPathToResource('arrow_rotate_left') }}"
                 title="Rotate counter-clockwise"
                 (click)="rotateView(0, 0, -cameraChangeStep.value)" />
        </td>
        <td>
          <!-- up arrow -->
          <input type="image"
                 alt="&#8593;"
                 src="{{ getPathToResource('arrow_up') }}"
                 title="Move upwards"
                 (click)="rotateView(cameraChangeStep.value, 0, 0)" />
        </td>
        <td>
          <!-- down-right arrow -->
          <input type="image"
                 alt="&#8600;"
                 src="{{ getPathToResource('arrow_rotate_right') }}"
                 title="Rotate clockwise"
                 (click)="rotateView(0, 0, cameraChangeStep.value)" />
        </td>
      </tr>
      <tr>
        <td>
          <!-- left arrow -->
          <input type="image"
                  alt="&#8592;"
                  src="{{ getPathToResource('arrow_left') }}"
                  title="Move leftwards"
                  (click)="rotateView(0, cameraChangeStep.value, 0)" />
        </td>
        <td>
          <!-- down arrow -->
          <input type="image"
                 alt="&#8595;"
                 src="{{ getPathToResource('arrow_down') }}"
                 title="Move downwards"
                 (click)="rotateView(-cameraChangeStep.value, 0, 0)" />
        </td>
        <td>
          <!-- right arrow -->
          <input type="image"
                 alt="&#8594;"
                 src="{{ getPathToResource('arrow_right') }}"
                 title="Move rightwards"
                 (click)="rotateView(0, -cameraChangeStep.value, 0)" />
        </td>
      </tr>
      <tr>
        <td>
          <!-- empty square symbol -->
          <input type="image"
                 alt="&#9633;"
                 src="{{ getPathToResource('square') }}"
                  title="Adjust the field of view to the selected range"
                  (click)="changeFov(cameraChangeStep.value)" />
        </td>
        <td>
          <input class="selector_view_step"
                  type="number"
                  title="Select the step of button actions in degrees: rotation, movement or field of view range"
                  #cameraChangeStep
                  min="5"
                  max="90"
                  step="5"
                  value="5">
        </td>
        <td>
          <!-- pipe symbol -->
          <input type="image"
                 alt="&#124;"
                 src="{{ getPathToResource('align') }}"
                 title="Align the view on the North-Sourth axis"
                 (click)="alignNSAxis()" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
