
.ui-controls-section table {
  width: 100%;
}


.ui-controls-section table td {
  text-align: center;
}

.ui-controls-section button {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

td > input {
  height: 32px;
  width: 32px;
}
