
<li>
  <span>Magnitude down to:</span>&nbsp;
  <input class="selector_magnitude"
          type="number"
          [disabled]="!enabled"
          (change)="fireStarsMagnitudeChangedEvent()"
          name="show_stars_magnitude"
          [(ngModel)]="magnitude"
          min="2"
          max="6" step="0.5"><br>
</li>
<li>
  <input type="checkbox"
        [disabled]="!enabled"
        [(ngModel)]="showNames"
        (change)="fireStarsLabelsVisibilityChangeEvent()"
        title="Show star names"
        name="show_stars_names">Names:<br>
  <ul>
    <li>
      <input type="radio"
             [disabled]="!enabled || !showNames"
             [(ngModel)]="checkProperNames"
             [value]="true"
             (change)="fireStarsLabelsTypeChangeEvent()"
             title="Proper names: Vega, Sirius, Regel..."
             name="show_stars_names_type">Proper<br>
    </li>
    <li>
      <input type="radio"
              [disabled]="!enabled || !showNames"
              [(ngModel)]="checkProperNames"
              [value]="false"
              (change)="fireStarsLabelsTypeChangeEvent()"
              title="Standard/Bayer names: Alpha, Beta, Gamma..."
              name="show_stars_names_type">Standard<br>
    </li>
  </ul>
</li>
