
<div class="ui-section">
  <span>Layers:</span><br>
  <ul>
    <li *ngFor="let layer of availableLayers">
      <input type="checkbox"
              [checked]="layer.selected"
              (change)="fireLayerChangedEvent(layer.code, $event.target.checked)"
              title="{{layer.description}}"
              name="show_layer_{{layer.code}}">{{ layer.label }}<br>
      <ul *ngIf="layer.items && layer.code !== 'stars'">
        <li *ngFor="let subLayer of layer.items">
          <!-- TODO refactor to fill it recursively -->
          <input type="checkbox"
            [checked]="subLayer.selected"
            [disabled]="!layer.selected"
            (change)="fireLayerChangedEvent(subLayer.code, $event.target.checked)"
            title="{{subLayer.description}}"
            name="show_layer_{{subLayer.code}}">{{ subLayer.label }}<br>
        </li>
      </ul>
      <ul *ngIf="layer.items && layer.code === 'stars'">
        <app-astrocadre-controls-select-stars
            [enabled]="layer.selected"
            [showNames]="layer.selected">
        </app-astrocadre-controls-select-stars>
      </ul>
    </li>
  </ul>
</div>
