<input type="checkbox"
      (change)="toggleLayerShown()"
      [checked]="isShown"
      title="{{ layer.description }}">{{ layer.label }}<br>

<div class="ac-ui-controls-sublayers">

  <div *ngIf="isStarsLayer; else showSubLayers">
    <ac-controls-select-star-magnitude></ac-controls-select-star-magnitude>
    <ac-controls-select-star-names></ac-controls-select-star-names>
  </div>

  <ng-template #showSubLayers>
    <ac-controls-select-layer *ngFor="let subLayer of subLayers"
        [layer]="subLayer"></ac-controls-select-layer>
  </ng-template>

</div>
