<p-checkbox [(ngModel)]="isShown"
            [label]="layer.label"
            [binary]="true"
            title="{{ layer.description }}"></p-checkbox>

<div class="ac-ui-controls-sublayers">

  <div *ngIf="isStarsLayer; else showSubLayers">
    <ac-controls-select-star-magnitude></ac-controls-select-star-magnitude>
    <ac-controls-select-star-names></ac-controls-select-star-names>
  </div>

  <ng-template #showSubLayers>
    <ac-controls-select-layer *ngFor="let subLayer of subLayers"
        [layer]="subLayer"></ac-controls-select-layer>
  </ng-template>

</div>
