
<p-toggleButton [(ngModel)]="namesShown"
                onLabel="Names"
                offLabel="Names"
                title="Toggle the constellation names shown"></p-toggleButton>

<p-toggleButton [(ngModel)]="boundariesShown"
                onLabel="Boundaries"
                offLabel="Boundaries"
                title="Toggle the constellation boundaries shown"></p-toggleButton>

<p-toggleButton [(ngModel)]="linesShown"
                onLabel="Lines"
                offLabel="Lines"
                title="Toggle the constellation lines shown"></p-toggleButton>
