.ac-ui-controls-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ac-camera-controls-buttons {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 140px;
  height: 140px;
}

.ac-camera-button {
  width: 40px;
  height: 40px;
}
